<extend name="Public:base" />
<block name="css">
	<style>
		div{width:200px;height:200px;background:red;position:absolute;top:200px;left:0;}
	</style>
</block>
<block name="content">
	<div id="div1">来拖我~~</div>
</block>
<block name="script">
<script>
	window.onload = function(){
		var oDiv = document.getElementById("div1");
		oDiv.onmousedown = function(){
			var pos = getPos();
			console.log(pos);
			var diffX = pos.x - this.offsetLeft;
			var diffY = pos.y - this.offsetTop;
			console.log(diffX+","+diffY);
			document.onmousemove = function(){
				var pos = getPos();
				oDiv.style.left = pos.x - diffX + "px";
				oDiv.style.top  = pos.y - diffY + "px";
			}
			
			document.onmouseup = function(){
				//oDiv.onmousedown = null;
				document.onmousemove = null;
				document.onmouseup = null;
			}
			
			return false;	//阻止在ff下的默认事件
		}
	}
	
	function getPos(){
		var oTop  = document.documentElement.scrollTop || document.body.scrollTop;
		var oLeft = document.documentElement.scrollLeft || document.body.scrollLeft;
		var e = arguments.callee.caller.arguments[0] || event;
		var y = oTop + e.clientY;
		var x = oLeft + e.clientX;
		return {x:x,y:y};
	}
</script>
</block>