<extend name="Public:base" />
<block name="css">
<style>
.respond_title{margin-top:0;}
.ad_title,.respond_title{font-family:SimHei;}
#commentform input, #commentform textarea{padding:4px; border:1px solid #7F9DB9; background-color:#fff;}
#commentform input:focus, #commentform textarea:focus{box-shadow:inset 0 0 1px #7F9DB9; outline:none;}
#commentform input{width:250px; margin:0 5px 5px 0; padding:8px;}
#commentform{margin:5px 0 0 0;}
#commentform textarea {width:95%; height:140px; overflow:auto;}
#commentform #submit{width:100px; height:36px; background-color:#f0f3f9;color:#333; overflow:visible; cursor:pointer; box-shadow:1px 1px #AFC4EA,2px 2px #AFC4EA,3px 3px #AFC4EA; font-size:14px;}
#commentform #submit:active{-ms-transform:translate(1px,1px);transform:translate(1px,1px);box-shadow:1px 1px #AFC4EA,2px 2px #AFC4EA;}
#commentform #submit:hover{background-color:#EAEDF5;}
form.mobile p > label {display:none;}
#commentform.mobile input {box-sizing:border-box;width:100%;margin:0 0 10px;font-size:16px;}
form.mobile textarea{font-size:16px;}
#respond{padding-left:25px;}
#respond:after{	content:""; display:table; clear:both;}
/* End Form Elements *//* Begin Comments*/
.alt {margin:0;padding:10px;}
.commentlist{width:90%; padding-left:25px;}
.commentlist li{margin:15px 0 10px; padding:5px 5px 10px 10px;}
.commentlist li ul li{margin-left:1em; background-color:#eee;}
.commentlist p{margin:10px 5px 10px 0;}
.comment-body{word-break:break-all;}
.children{padding:0;list-style:none;}
#commentform p{margin:5px 0; overflow:hidden; zoom:1;}
.nocomments{text-align:center;margin:0;padding:0;}
.commentmetadata {margin:0;display:block;}

.commentlist li{font-size: 14px;}
.commentlist li {font-weight:bold;}
.commentlist li .avatar{float:right; border:1px solid #eee;	padding:2px;background:#fff;}
.commentlist cite, .commentlist cite a {font-weight:bold;font-style:normal;}
.commentlist p {font-weight:normal;line-height:1.5; text-transform:none;	}
.commentmetadata {font-weight:normal;}

.thread-alt{background-color:#f8f8f8;}
.thread-even{background-color:white;}
.depth-1{border:1px solid #ddd;}
.even, .alt{border-left:1px solid #ddd;}

/*@media screen and （max-width： 650px） {
	 #commentform textarea{width:95%}
}*/
</style>
</block>
<block name="body">
<div class="post">
    <h1 class="post-title"><{$detail['title']}></h1>
    <div class="post-meta"><{:date("M d, Y",$detail['ctime'])}>
        <span id="busuanzi_container_page_pv">|
        <span id="busuanzi_value_page_pv"><{$detail['pv']}></span>
        <span>Hits</span></span>
    </div>
    <a data-thread-key="2016/09/11/apache的virtualhost/" href="/blog/<{$detail['id']}>.html#comment" class="ds-thread-count"><if condition="$commentNum"><{$commentNum}>条评论<else />暂无评论</if></a>
    <div class="post-content">
        <{$detail['content']}> 
    </div>
    <if condition="$detail['tag']"><div class="tags">
        <a href="/blog/tag/<{$detail['tag']}>/"><{$detail['tag']}></a>
    </div>
    </if>
    <div class="post-nav">
    		<if condition="$prevRes">
        	<a href="/blog/<{$prevRes['id']}>.html" class="pre"><{$prevRes['title']}></a>
        </if>
        <if condition="$nextRes">
        		<a href="/blog/<{$nextRes['id']}>.html" class="next"><{$nextRes['title']}></a>
        </if>
    </div>
</div>
<!--<div>
<a href="https://github.com/login/oauth/authorize?client_id=3d1ac5a564661c9e25ba&scope=user&state=jard&allow_signup=true">使用github登陆</a>
</div>-->
<!--评论开始-->

<div id="respond">
<h3 class="respond_title fa fa-pencil"><a href="<if condition="empty($userinfo)">https://github.com/login/oauth/authorize?client_id=3d1ac5a564661c9e25ba&scope=user&state=jard&allow_signup=true<else />javascript:;</if>">发表评论</a>（目前<{$commentNum}>条评论）</h3>
<if condition="$userinfo">
<div id="cancel-comment-reply"> 
	<small><a rel="nofollow" id="cancel-comment-reply-link" href="javascript:;" style="display:none;">点击这里取消回复。</a></small>
</div> 


<form onsubmit="<if condition="empty($userinfo)">location.href='https://github.com/login/oauth/authorize?client_id=3d1ac5a564661c9e25ba&scope=user&state=jard&allow_signup=true';return false;<else />return true;</if>" action="/index.php/Home/Index/add" method="post" id="commentform">


<p><input name="name" id="author" value="<{$userinfo['login']}>" readonly size="22" tabindex="1" aria-required="true" required="true" type="text">
<label for="author"><small>名称 (必须)</small></label></p>

<p><input name="email" id="email" value="" size="22" tabindex="2" aria-required="true" required="true" type="email">
<label for="email"><small>邮件地址(不会被公开) (必须)</small></label></p>

<p><input name="website" id="url" value="" size="22" tabindex="3" type="url">
<label for="url"><small>网站</small></label></p>


<!--<p><small><strong>XHTML：</strong>您可以使用这些标签：<code>&lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;strike&gt; &lt;strong&gt; </code></small></p>-->

<p><textarea name="content" id="comment" required="true" cols="100%" rows="10" tabindex="4"></textarea></p>
<p>
<input name="vcode" required="true" id="vcode" type="text" style="width:80px;" />
<img style="position:relative;top:12px;" src="/index.php?c=Index&a=showVerifyCode" onclick="this.src=this.src+'&t='+(new Date()).getTime()"/>
<label for="vcode"><small>验证码 (必须)</small></label>

</p>
<p><input id="submit" tabindex="5" value="提交评论" type="submit"><span id="commRem" class="ml20" style="color:#cd0000;"></span>
<input name="postid" value="<{$detail['id']}>" id="comment_post_ID" type="hidden">
<input name="pid" id="comment_parent" value="0" type="hidden">
<input type="hidden" name="depth" id="comment_depth" value="1" />
<input type="hidden" name="csrf" value="<{$csrf}>" />
</p>
</form>
</if>
</div>

<ol class="commentlist">
<foreach name="comments" key="k" item="vo">
	<li class="comment <if condition="$k%2 eq 0">even<else />alt</if> thread-<if condition="$k%2 eq 0">even<else />alt</if> depth-1 parent" id="comment-<{$vo['id']}>">
		<div id="div-comment-<{$vo['id']}>" class="comment-body">
			<div class="comment-author vcard">
				<img src="<{$vo['userinfo']['avatar']}>" class="avatar avatar-32" height="32" width="32">
				<cite class="fn"><{$vo['name']}></cite><span class="says">说道：</span>
			</div>
		
			<div class="comment-meta commentmetadata">
				<a href="javascript:;">
			<{:date("Y年m月d日 H:i",$vo['ctime'])}></a>		
			</div>

			<p><{$vo['content']}></p>

			<div class="reply">
				<a  class="comment-reply-link" cid="<{$vo['id']}>" depth="<{$vo['depth']}>" href="<if condition="empty($userinfo)">https://github.com/login/oauth/authorize?client_id=3d1ac5a564661c9e25ba&scope=user&state=jard&allow_signup=true<else />javascript:;</if>" aria-label="回复给dont">回复</a>
			</div>
		</div>
		
		
		<if condition="$vo['child']">
		<ul class="children">
			<foreach name="vo['child']" item="cvo">
			<li class="comment byuser comment-author-admin bypostauthor even depth-2 parent" id="comment-<{$cvo['id']}>">
				<div id="div-comment-<{$cvo['id']}>" class="comment-body">
					<div class="comment-author vcard">
						<img src="<{$cvo['userinfo']['avatar']}>" class="avatar avatar-32" height="32" width="32">
						<cite class="fn">
							<a href="<{$cvo['website']}>" rel="external nofollow" class="url"><{$cvo['name']}></a>
						</cite>
						<span class="says">说道：</span>		
					</div>
			
					<div class="comment-meta commentmetadata"><a href="javascript:;">
				<{:date("Y年m月d日 H:i")}></a>		
					</div>
	
					<p><{$cvo['content']}></p>
	
					<div class="reply">
						<a class="comment-reply-link" cid="<{$cvo['id']}>" depth="<{$cvo['depth']}>" href="<if condition="empty($userinfo)">https://github.com/login/oauth/authorize?client_id=3d1ac5a564661c9e25ba&scope=user&state=jard&allow_signup=true<else />javascript:;</if>" aria-label="回复给张 鑫旭">回复</a>
					</div>
				</div>

				<if condition="$cvo['child']">
				<ul class="children">
					<foreach name="cvo['child']" item="ccvo">
					<li class="comment odd alt depth-3 parent" id="comment-<{$ccvo['id']}>">
						<div id="div-comment-<{$ccvo['id']}>" class="comment-body">
							<div class="comment-author vcard">
								<img src="<{$ccvo['userinfo']['avatar']}>" class="avatar avatar-32" height="32" width="32">
								<cite class="fn"><{$ccvo['name']}></cite><span class="says">说道：</span>
							</div>
		
							<div class="comment-meta commentmetadata">
								<a href="http://www.zhangxinxu.com/wordpress/2016/07/pc-website-use-zepto-js/comment-page-1/#comment-322472">
			<{:date("Y年m月d日 H:i")}></a>		
							</div>

							<p><{$ccvo['content']}></p>

							<div class="reply">
								<a class="comment-reply-link" href="<if condition="empty($userinfo)">https://github.com/login/oauth/authorize?client_id=3d1ac5a564661c9e25ba&scope=user&state=jard&allow_signup=true<else />javascript:;</if>" cid="<{$ccvo['id']}>" depth="<{$ccvo['depth']}>" aria-label="回复给城市精灵">回复</a>
							</div>
						</div>
						
						<if condition="$ccvo['child']">
						<ul class="children">
							<volist name="ccvo['child']" id="cccvo">
								<li class="comment even depth-4" id="comment-<{$cccvo['id']}>">
									<div id="div-comment-<{$cccvo['id']}>" class="comment-body">
										<div class="comment-author vcard">
											<!--<img src="https://secure.gravatar.com/avatar/967d2b16eb92c820dab003cf80dd943a?s=32" class="avatar avatar-32" height="32" width="32">-->
											<cite class="fn"><{$cccvo['name']}></cite>
											<span class="says">说道：</span>		
										</div>
				
										<div class="comment-meta commentmetadata">
											<a href="javascript:;">
					<{:date("Y年m月d日 H:i")}></a>		
										</div>
		
										<p><{$cccvo['content']}></p>		
									</div>
								</li><!-- #comment-## -->
							</volist>
						</ul><!-- .children -->
						</if>
						
					</li><!-- #comment-## -->
					</foreach>
				</ul><!-- .children -->
				</if>
				
			</li><!-- #comment-## -->
			</foreach>
		</ul><!-- .children -->
		</if>
		
		
	</li>
</foreach>			
</ol>
</block>
<block name="js">
<script src="/Public/js/detail.js?jack"></script>
</block>