.notice{
	background: #fff;
	padding:0 0 1.4rem 0.24rem;
	position: fixed;
	left: 0;
	bottom:0;
}
.notice li{
	border-bottom: 0.01rem solid #eeeeee;
	padding:0.28rem 0.24rem 0.28rem 0;
}
.notice li h4{
	font-size: 0.3rem;
	margin-bottom: 0.25rem;
}
.notice li p{
	font-size: 0.28rem;
	color:#6e6e6e;
	text-align: justify;
}
.notice li p span{
	color:#ff0000;
}
.notice-2{
	position: static;
	padding: 0 0 0 0.24rem;
}

/**用户协议**/
.agreement{
	padding:0.48rem 0.24rem;
}
.agreement h4{
	font-size: 0.32rem;
	margin-bottom: 0.3rem;
}
.agreement p{
	font-size: 0.26rem;
	color:#9a9a9a;
	text-align: justify;
	text-indent: 0.5rem;
	line-height: 0.4rem;
}