<div class="widget">
    <div class="widget-title">
      <i class="fa fa-external-link">友情链接</i></div>
    <ul></ul>
    <a href="http://www.ruanyifeng.com/home.html" title="site-name1" target="_blank">阮一峰</a>
    <ul></ul>
    <a href="http://www.zhangxinxu.com" title="site-name2" target="_blank">张鑫旭</a>
    <ul></ul>
    <a href="http://www.liaoxuefeng.com" title="site-name3" target="_blank">廖雪峰</a>
    <ul></ul>
    <a href="http://laravel.suhanyu.top/" title="site-name3" target="_blank">苏汉宇</a>
    </div>
</div>